/*Импорт шрифтов*/
@font-face {
  font-family: "Exo2.0";
  src: url("../fonts/Exo2.0-Thin.eot");
  src: local("☺"), url("../fonts/Exo2.0-Thin.woff") format("woff"),
    url("../fonts/Exo2.0-Thin.ttf") format("truetype"),
    url("../fonts/Exo2.0-Thin.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "TrebuchetMS";
  src: url("../fonts/trebuc.eot");
  src: local("☺"), url("../fonts/trebuc.woff") format("woff"),
    url("../fonts/trebuc.ttf") format("truetype"),
    url("../fonts/trebuc.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TrebuchetMS";
  src: url("../fonts/trebucbd.eot");
  src: local("☺"), url("../fonts/trebucbd.woff") format("woff"),
    url("../fonts/trebucbd.ttf") format("truetype"),
    url("../fonts/trebucbd.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
