/*Переменные*/
$colorWhite: rgb(255, 255, 255);
$colorGrey: rgb(102, 102, 102);
$colorBlue: #1698d9;
$colorBlueHover: #2ea8e6;
$colorRed: #d91667;
$colorRedHover: #e62e7a;
$colorYellow: #ffff66;
$colorDisabled: #b3b3b3;
$colorDisabledBackground: #f2f2f2;
