.cat-food__card {
  flex: 0 1 320px;
  padding: 0 40px;
}

.cat-card-wrapper {
  position: relative;
  clip-path: polygon(48px 0, 100% 0, 100% 100%, 0 100%, 0 48px);
  width: 328px;
  height: 480px;
  background: $colorBlue;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 0.3s;
  &:hover {
    background-color: $colorBlueHover;
  }
}

.cat-card {
  position: absolute;
  top: 4px;
  left: 4px;
  clip-path: polygon(48px 0, 100% 0, 100% 100%, 0 100%, 0 48px);
  background: url("../../assets/img/cat.png") center 208px no-repeat;
  width: 320px;
  height: 472px;
  background-color: $colorWhite;
  padding-left: 46px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover .cat-card__weight {
    background-color: $colorBlueHover;
  }

  &__upper {
    display: inline-block;
    padding-top: 25px;
    margin-bottom: 17px;
    color: $colorGrey;
  }

  &__heading {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 17px;

    &--small {
      font-size: 24px;
    }
  }
  &__bonus {
    font-size: 14px;
    color: $colorGrey;
    font-weight: 700;
    line-height: 1.143;
  }
  &__after {
    font-size: 13px;
    color: $colorWhite;
    text-align: center;
    transition: all 0.3s;
  }
  &__link {
    color: $colorBlue;
    &--dashed {
      border-bottom: 1px dashed $colorBlue;
      &:hover {
        color: $colorBlueHover;
      }
    }
  }
  &__weight {
    position: absolute;
    bottom: 11px;
    right: 11px;
  }
}

.weight-circle {
  width: 100px;
  height: 100px;
  background-color: $colorBlue;
  border-radius: 50%;
  text-align: center;

  &__price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 42px;
    color: $colorWhite;
    &--small {
      display: block;
      font-size: 21px;
      line-height: 10px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .cat-food__card {
    padding: 0 40px 50px 40px;
    &:last-child {
      padding: 0 40px 0px 40px;
    }
  }
}
