.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  height: 100vh;
  background: url("./assets/img/Background.png") center center;
}

.cat-food {
  padding-top: 47px;
  &__title {
    font-size: 36px;
    font-family: "Exo2.0";
    margin-bottom: 14px;
    font-weight: 100;
    color: $colorWhite;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -40px;
  }
}
