@import "./assets/scss/nullstyle";
@import "./assets/scss/variables";
@import "./assets/scss/fonts";

body {
  margin: 0;
  font-family: "TrebuchetMS", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

._container {
  max-width: 1280px;
  margin: 0 auto;
}

@import "./App";
